
fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
faiss-cpu
chromadb
selenium
webdriver-manager
beautifulsoup4
requests
langdetect
python-docx
PyPDF2
torch
transformers
mistralai
google-generativeai
sentence-transformers
pillow
pytesseract
pydantic
python-dotenv
